*.elc
tramp
backups
\#!*
custom.el
auto-save-list
# Emacs 24 packages
elpa/installed
.tmp
# swank-clojure
swank/
# generated cookies (?)
url/
# node modules
node_modules
# eshell stuff
eshell/
/bookmarks
local/
/.mc-lists.el
