[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "src/magit"]
	path = src/magit
	url = git://github.com/philjackson/magit.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/emacsmirror/php-mode.git
