*.elc
tramp
backups
\#!*
custom.el
auto-save-list
# Emacs 24 packages
packages/elpa
packages/el-get/installed/
.tmp
# swank-clojure
swank/
# generated cookies (?)
url/
# node modules
node_modules
# eshell stuff
eshell/
/bookmarks
local/
/.mc-lists.el
/.org-id-locations
