[submodule "src/magit"]
	path = src/magit
	url = https://github.com/philjackson/magit.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/emacsmirror/php-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/mustache-mode"]
	path = vendor/mustache-mode
	url = https://github.com/mustache/emacs.git
[submodule "vendor/json-mode"]
	path = vendor/json-mode
	url = https://github.com/joshwnj/json-mode.git
[submodule "vendor/less-css-mode"]
	path = vendor/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule "vendor/themes/zenburn"]
	path = vendor/themes/zenburn
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = https://jblevins.org/git/markdown-mode.git
[submodule "vendor/emacs-growl"]
	path = vendor/emacs-growl
	url = https://github.com/elim/emacs-growl.git
[submodule "vendor/distel"]
	path = vendor/distel
	url = https://github.com/massemanet/distel.git
[submodule "vendor/python-mode"]
	path = vendor/python-mode
	url = https://github.com/emacsmirror/python-mode.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "vendor/themes/solarized"]
	path = vendor/themes/solarized
	url = https://github.com/bbatsov/solarized-emacs.git
